<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="SakuraCafeSuite">

    <listeners>
        <listener class-name="org.example.listeners.customTestListener"/>
    </listeners>

    <test name="PageTests">
        <classes>
<!--            <class name="org.example.tests.WelcomePageTests"/>-->
            <class name="org.example.tests.DeliveryHomePageTest"/>
        </classes>
    </test>
</suite>